@model IEnumerable<BangazonWorkforce.Models.Computer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Title: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
}


@*<form asp-action="Index">
    <div asp-validation-summary="ModelOnly" class="text-danger">
        <div class="form-group">
            <label asp-for="searchString" class="control-label"></label>
            <input asp-for="searchString" class="form-control" />
            <span asp-validation-for="searchString" class="text-danger"></span>

        </div>
    </div>
</form>*@

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    <a href="@Url.Action("Details", new { id=item.Id})">@Html.DisplayFor(modelItem => item.Make)</a>

                </td>
                <td>
                    <a href="@Url.Action("Details", new { id=item.Id})">@Html.DisplayFor(modelItem => item.Manufacturer)</a>
                </td>

            </tr>
        }
    </tbody>
</table>
